{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %} {% endblock %}

{% block content %}
    <div class="container-fluid">

        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                 style="width: 40rem">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
        <div class="mx-auto" align="center" style="max-width: 40rem">
            <h3 class="h3" id="head_banner">{% trans "Sign In" %}</h3>
            <form id="login_form" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              {% for field in form %}
                <div class="d-flex justify-content-center mb-3">
                  {{ field|as_crispy_field }}
                </div>
              {% endfor %}

                {% if redirect_field_value %}

                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>

                {% endif %}

                <div class="btn-group">
                    <button class="btn btn-outline-primary " type="submit">{% trans "Sign In" %}</button>
                    <a class="btn btn-outline-dark" role="button"
                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>


            </form>
            {% load account socialaccount %}

            {% get_providers as socialaccount_providers %}
            <div class="btn-group mt-3">
                {% for provider in socialaccount_providers %}
                    <a title="{{ provider.name }}" class="btn btn-outline-dark"
                       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                        {{ provider.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
