{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% block messages %}
            {% if messages %}
                <div>
                    <ul>
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 40rem;">
                                <strong>{{ message }}</strong>
                                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}
        <div class="container auto" style="width: 30rem">
            <h3 class="h3" id="head_banner">{% trans "Change Password" %}</h3>
            <form method="POST" action="{% url 'account_change_password' %}"
                  id="change_password_form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary mt-3" type="submit"
                        name="action">{% trans "Change Password" %}</button>
            </form>


        </div>

    </div>
{% endblock %}
