{% extends 'base.html' %}
{% load static %}
{% block title %} PyCampAu {% endblock %}

{% block head_links %}
  <link type="text/css" rel="stylesheet" href="{% static 'marketplace/css/categories_list.css' %}"/>
  <link rel="stylesheet" href="{% static 'marketplace/css/tree.css' %}"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'marketplace/scripts/ajax_subcategories.js' %}"></script>
  <script src="{% static 'marketplace/scripts/load_subcategories.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="container-fluid mt-1">
    <div class="row">

      <div class="col-sm-4">
        <h4 class="font-italic">Categories</h4>
        <ul class="Container" id="tree">
          {% for category in categories %}
            <li id="{{ category.id }}" class="Node IsRoot IsLast ExpandClosed">
              <div class="Expand "></div>
              <div class="Content">
                <a href="{{ category.get_absolute_url }}">
                  {{ category.name }}
                </a>
                <sup>({{ category.lots_count }})</sup>
              </div>
              <ul class="Container"></ul>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-sm-8">
        {% for lot in lots %}
          <div class="row">
            <div class="col-md-4 offset-md-1">
              <div class="card mb-4">
                <div class="card-body">
                  <h2 class="card-title"><a class="link-dark"
                    href="{% url 'lot-detail' lot.id %}">{{ lot.title }}</a>
                  </h2>
                  <a href="{{ lot.category.get_absolute_url }}">
                    <h6 class="card-subtitle mb-2 text-muted">{{ lot.category }}</h6>
                  </a>

                  <img class="d-block w-100" src="{{ lot.images.first.image.url }}" alt="No image" width="300">

                  <p class="card-text">{{ lot.description|truncatechars_html:10|safe }}</p>
                  {% if lot.bids_count == 0 %}
                    <h2 class="card-text">
                      <span class="badge bg-primary text-light"> No bids yet!</span>
                    </h2>
                  {% else %}
                    <h2 class="card-text">
                      <span class="badge bg-primary text-light"> Current price: {{ lot.current_price }}</span>
                    </h2>
                  {% endif %}
                  <h2 class="card-text">
                    <span class="badge bg-warning text-dark"> Blitz price: {{ lot.blitz_price }}</span>
                  </h2>
                </div>
                <div class="card-footer bg-transparent" style="width: 100%; text-align: left">
                  <span class="d-block">Time to left: {{ lot.left_time }}</span>
                  <span class="d-block"> Number of bids: {{ lot.bids_count }} </span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  {% if page_obj.has_previous or page_obj.has_next %}
    {% include 'marketplace/pagination.html' with page=lots %}
  {% endif %}
{% endblock %}
