{% extends 'base.html' %}
{% load static %}
{% block title %} PyCampAu Lot Create {% endblock %}

{% block head_links %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}

{% block content %}
  <div class="container mt-1">
    <div class="row">
      <div class="col-8 offset-md-2">
        <div class="card mb-6">
          <div class="card-header">
            <h3 class="text-center">Lot creation</h3>
          </div>
          <div class="card-body">
            <form action="{% url 'lot-create' %}" method="post"
                  enctype="multipart/form-data">
              {% csrf_token %}

              {% if form.errors %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}

              {% for field in form %}
                <div
                  class="mb-3{% if field.errors %} has-danger {% endif %}">

                  {{ field.label_tag }}
                  {{ field }}

                  {% if field.errors %}
                    <div class="text-danger small errorlist">
                      {% for error in field.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}

                  {% if field.help_text %}
                    <div
                      class="text-muted small helptext">{{ field.help_text }}</div>
                  {% endif %}

                </div>
              {% endfor %}

              <div class="mb-3">
                <table>
                  {{ formset }}
                </table>
              </div>

              <input class="btn btn-primary" type="submit" value="Create lot">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ form.media }}
  <script src="{% static 'marketplace/scripts/autocomplete_field.js' %}"></script>

{% endblock %}