{% extends "base.html" %}

{% load i18n %}
{% load get_avatar %}
{% load static %}
{% block title %}{% trans "Profile" %} {% endblock %}

{% block content %}

    <div class="container">
        <div class="row align-items-start">
            <div class="col" style="margin-top: 2.5rem">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="{% users_avatar object %}" alt="avatar">
                    <div class="card-body">
                        {% if object.first_name %}
                            <h2 class="card-title">{{ object.get_full_name }}</h2>
                        {% else %}
                            <h2 class="card-title">Welcome, {{ object.username }} </h2>
                            <dd class="small"> You can set avatar, first and last name by click "Edit profile" </dd>
                        {% endif %}
                        <dl class="row">
                            <dt class="col">Username:</dt>
                            <dd class="col">{{ object.username }}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col">Email:</dt>
                            <dd class="col">{{ object.email }}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col">Phone:</dt>
                            <dd class="col">{{ object.phone }}</dd>
                        </dl>
                        <a href="{% url 'edit-account' %}">
                            <button class="btn btn-outline-primary" style="width: 100%">Edit profile</button>
                        </a>
                    </div>
                </div>
            </div>
            <!---------------------- lots --------------------------->
            <div class="col">
                <h3>Your lots</h3>
                {% for lot in user_lots %}
                    <a class="link-dark" href="{% url 'lot-detail' lot.id %}">
                    <div class="card" style="width: 20rem; margin-bottom: 20px">
                        <img src="{{ lot.images.first.image.url }}" class="card-img-top" alt="Main picture">
                        <div class="card-body">
                            {% if lot.is_active %}
                                <h5 class="card-title" style="background-color: #0aac47">{{ lot.title }}</h5>
                            {% else %}
                                <h5 class="card-title" style="background-color: #808080">{{ lot.title }}</h5>
                            {% endif %}
                            <p class="card-text">{{ lot.description|truncatechars_html:50|safe }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Blitz price: {{ lot.blitz_price }}</li>
                            <li class="list-group-item">Current price: {{ lot.current_price }}</li>
                            <li class="list-group-item">Finish: {{ lot.finished_at }}</li>
                        </ul>
                        <div class="card-body">
                            {% if lot.comments.last %}
                                <p class="card-text">Last comment: {{ lot.comments.last.text|slice:":50" }}</p>
                            {% else %}
                                <p>No comments yet</p>
                            {% endif %}
                        </div>
                    </div>
                  </a>
                  {% empty %}
                  <p>You have not lots yet</p>
                {% endfor %}
            </div>
            <!------------------- bids ---------------------->
            <div class="col">
                <h3>Your bids</h3>
                {% for lot in bidded_lots %}
                    <div class="card" style="width: 20rem; margin-bottom: 20px">
                        <img src="{{ lot.images.first.image.url }}" class="card-img-top" alt="Main picture">
                        <div class="card-body">
                            <h5 class="card-title" style="background-color: {% if lot.is_active %}#0aac47{% else %}#808080{% endif %}">{{ lot.title }}</h5>
                            <p class="card-text">{{ lot.description|truncatechars_html:50|safe }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Blitz price: {{ lot.blitz_price }}</li>
                            <li class="list-group-item">Current price: {{ lot.current_price }}</li>
                            <li class="list-group-item">Finish: {{ lot.finished_at }}</li>
                        </ul>
                        <div class="card-body">
                            <p class="card-text">Your bid: {{ lot.bids__price__max }}</p>
                        </div>
                    </div>
                  {% empty %}
                  <p>You have not bids yet</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}